

#switchButtonIcon {
	display: none; /*no clue why this is showing up, its left over from eventsPage, I just need to find it in the code, might be an events js thing*/
}

.order-history-main {
	align-content: center;
}

.order-list {
	width: 75%;
}

.table {
	width: 100%;
}

.title-container {
	padding: 10px;
	/*
	border-right-style: solid;
	border-bottom-style: solid;
	border-radius: 5px;
	border-color: rgba(47,54,76,1.0);
	border-width: 7px; */
	border-style: solid;
	border-radius: 5px;
	border-color: rgba(47,54,76,1.0);
	border-width: 2px;
	margin-bottom: 15px;
	display: flex;
    flex-direction: row;
}

.title-left {
	flex: 2;
}

.title-right {
	align-self: right;
	flex: 2;
}

.orderedItem {
	padding: 10px;
	margin-bottom: 15px;
}

.orderedItemGrey {
	background-color: rgb(242, 242, 242);
}

.disappear-when-big {
	display: none;
}


@media screen and (max-width: 800px) {

	.should-be-invisible {
        display: none;
    }

	.disappear-when-big {
		display: inline;
	}
}

@media screen and (min-width: 800px) {

	.marginMaker {
		margin-bottom: 5px;
	}
	.marginMaker2 {
		margin-left: 25px;
		margin-bottom: 5px;
	}

	li::before {
		content:"" !important;
	}


	
}